.header{
    padding-left: 10px;
    display:flex;
    flex-direction: column;

}
.divider{
    display:flex;
    justify-content: center;
}

.dividor{
    background-color: black;
}

.texto{
    font-size: 50px;

}